header h1 {
  color: rgb(113, 163, 41);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  font-size: 56px;

  span {
    color: rgb(212, 175, 55);
  }
}

header {
  margin: 2rem 0;
}
